{% load i18n %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>{{ survey.title }}</title>
</head>
<body>

{% include 'logout_base.html' %}

{% if question %}
    <h1>{{ survey.title }}</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="question" value="{{ question.id }}">
            <legend>{{ question.text }}</legend>
            {% for choice in question.choice_set.all %}
                <label>
                    <input type="radio" name="choice" value="{{ choice.id }}" required>
                    {{ choice.text }}
                </label><br>
            {% endfor %}
        </fieldset>
        <button type="submit">{% translate 'Далее' %}</button>
    </form>
{% else %}
    <h3>{% translate "Ваши ответы успешно отправлены. Спасибо за участие!" %}</h3>
{% endif %}

</body>
</html>